*   {
    background-color: rgb(196, 95, 95);
    color: aliceblue;
}

.center {
    height: 20em;
    width: 20em;
    float: right;
    border-radius: 50%;
    position: relative;
    left: -50px;
    border: 2px rgb(232, 148, 148);
    
    
}

h1  {
    font-family: 'Modak', cursive;
    font-style: oblique;
    font-size: 4em;
    margin: 5%;
    padding: 5px 30px 5px 5px;
    font-weight: normal; 
    width: 5%;
    height: 20%;
}   

th  {
    font-weight: bolder;
    color: rgb(138, 25, 48)  
}

table, th, td   {
    background-color: rgb(250, 181, 195);
    width: 40%;
    padding: 1%;
    margin: 5%;
    border: 3px solid rgb(252, 245, 244);
    font-family: 'Modak', cursive;
    font-family: 'Sofia', cursive;
    font-size: 110%;
}

td {
    color: rgb(80, 26, 26);
}

table {
    width: 60%;
}
